<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Application</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="flex justify-center text-3xl">
        <h1>Tailwindcss please work for me</h1>
        <p class="text-red-500 text-4xl py-3">
            This is my application with tailwindcss.
        </p>
    </div>
</body>

</html>